<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
 
  <div class="form-inline">
    <div class="form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, autofocus: true, class: "form-control"%>
    </div>  
  </div>
  <div class="form-group">
    <br/>
    <%= f.label :role_id %><strong>/Job Title</strong><br/>
    <%= f.collection_select :role_id, Role.order(:role),:id,:role, include_blank: true, class:"btn btn-primary dropdown-toggle" %>
  </div> 
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>

<% end %>
